<p id="notice"><%= notice %></p>

<h1>Ispovesti</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @confessions.each do |confession| %>
      <tr>
        <td><%= confession.body %></td>
        <td><%= link_to 'Show', confession %></td>
        <td>
          <% if confession.editable? -%>
            <%= link_to 'Edit', edit_confession_path(confession) %>
          <% end -%>
        </td>
        <td><%= link_to 'Destroy', confession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Confession', new_confession_path %>
